/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: hsl(0, 0%, 19%);
    font-family: monospace;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(189, 25, 25);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.hoofdpersonen-foto{
width:100px;
float:left;
margin:10px;
border: 5px #880d0d groove;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ted{
    clear:both;
}

/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #a7a2a2;
    overflow: hidden;
    border: 6px #880d0d;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #880d0d;
}

nav li a.active {
    background-color: rgb(189, 25, 25);
}




