/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #EEEEEE;  
    
    color: hsl(0, 0%, 19%);
    font-family: monospace;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    clear: both;
}


header {
    color: rgb(189, 25, 25);
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}

p.indextekst{
    margin-top:20px;
    float: left;
    width: 400px;
}
/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin:10px;
    width:250px;
    border: 7px #880d0d groove;
}

.hoofdpersonen-foto{
width:100px;
float:left;
margin:5px;
margin-right: 10px;
border: 5px #880d0d groove;
}


.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.hoofdpersonentekst{
    float:left;
    width: 500px;
   margin-top:35px;
}

.hoofdpersonentekst2{
    float:left;
    width: 500px;
   margin-top:10px;
}

.hoofdpersonentekst3{
    float:left;
    width: 500px;
   margin-top:20px;
}


/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #a7a2a2;
    overflow: hidden;
    border: 6px #880d0d;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #880d0d;
}

nav li a.active {
    background-color: rgb(189, 25, 25);
}




